html {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0px;
}

header,section,article,aside,footer{
	display: block;
}

.jumbotron {
  background: url("../imgs/wood.jpg") no-repeat;
  background-size: 100%;
  min-height: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
}

.example {
  background: url("../imgs/laptop.jpg") no-repeat;
  background-size: 100%;
  height: 525px;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
}

.outer {
    display: table;
    position: absolute;
    height: 650px;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

nav {
  top: 0px;
  right: 0px;
  position: absolute;
  padding-right: 20px;
}

nav a {
  text-decoration: none;
}

nav li {
  position: relative;
  display: inline;
  padding: 5px;
}

#middle {
  padding-top: 20px;
  height: 300px;
  width: 100%;
  text-align: center;
  position: relative;
  float: left;
}

section {
  float: left;
}

section li {
  list-style-type: none;
}

footer {
  text-align: center;
  width: 100%;
  position : fixed;
  bottom : 0;
  height : 40px;
}
